.grid-container .item1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #013538;
    text-align: center;
    font-size: 20px;
}

a {
    font-size: 20px;
    border: 1px solid #c3c3c3;
}

h2 {
    text-align: left;
    padding: 10px;
}

.info {
    font-size: 25px;
    text-align: left;
    margin: auto;
}

h3 {
    font-size: 25px;
}

ul {
    color: #013538;
}

ol {
    color: #013538;
}

.sub {
    font-size: 25px;
}

img {
    height: 500px;
    border: 5px solid #555;
}

.pic1 {
    border-radius: 50%;
    height: 500px;
    border: 5px solid #555;
}

.grid-container .item5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #013538;
    text-align: center;
    font-size: 20px;
}